<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" style="height: 500px">
      <div class="col"></div>
      <div class="col-md-9 bg-white shadow">
        <div class="card bg-warning mt-4">
          <h4 class="text-white ps-3 pt-2 pb-2">To Do List</h4>
        </div>
        <div class="shadow">
          <div class="input-group p-4">
            <input type="text" class="form-control" placeholder="Enter task " name="task" [(ngModel)]="addTaskValue" />
            <button class="btn btn-outline-success" (click)="addTask()" type="button">
              +
            </button>
          </div>
        </div>
        <h4 class="text-primary mt-3">Tasks:</h4>
        <div style="overflow-y: auto; height: 350px">
          <div class="m-3" *ngFor="let task of taskArr">
            <div class="p-2 shadow" *ngIf="!task.isCompleted">
              <div class="input-group row ps-3">
                <div class="card col-md-10 border-0">
                  {{ task.task }}
                  <span class="text-info">{{ task.isCompleted }}</span>
                </div>
                <button class="btn btn-outline-primary col" data-bs-toggle="modal" type="button" (click)="call(task)" data-bs-target="#exampleModal">edit</button>
                <button class="btn mx-2 btn-outline-danger col" (click)="delteTask(task)">X </button>
                <button class="btn btn-outline-success col" (click)="completeTask(task)">&check;</button>
              </div>
            </div>
          </div>
        </div>

        <h4 class="text-success mt-3">Completed</h4>
        <div style="overflow-y: auto; height: 350px;">
          <div class="m-3" *ngFor="let task of taskArr">
            <div class="p-2 shadow" *ngIf="task.isCompleted">
              <div class="input-group row ps-3">
                <div class="card col-md-10 border-0">
                  {{ task.task }}
                  <span class="text-info">{{ task.isCompleted }}</span>
                </div>
                <button class="btn mx-2 btn-outline-danger col" (click)="delteTask(task)">X </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit task</h5>
                <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="input-group p-4">
                  <input type="text" class="form-control" placeholder="Enter task " name="task"
                    [(ngModel)]="editTaskValue" />
                  <button class="btn btn-outline-success" data-dismiss="modal" data-bs-dismiss="modal"
                    (click)="editTask()" type="button">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col"></div>
    </div>
  </div>
</div>